html{
    scroll-behavior: smooth;
    height: auto;
}
body{
    margin: 0%;
}
// logo animate
#title{
    height:200px;
    width:200px;
    display: flex;
    place-content:center;
    position: absolute;     /*絕對位置*/
    left: 50%;              /*從左邊開始算，右推 50% (一半) 的位置*/
    top: 50%;  
    margin-top:-100px;
    margin-left: -100px; 
   
}

#logo{
    img {
        height:150px;
    }
}


// navbar
header{
    position:fixed;
    z-index:99999;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.6s;
    background-color: #dfdfdf;
}

#main_menu{
    width: 100%;
    position:relative;
    z-index:99999;
}



.logo_area{
    height: 300px;
    position: absolute;
    left: 50%;
    top: 0;
    content: "";
    margin-left: -150px;

    img{
        height: 120px;
    }
}

.inner_menu{
    margin: 0 auto;
    width: 1170px; 
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: right;
        padding-top: 70px;
    }
    li{
        float: none;
        display: inline-block;

        &:nth-child(1){
            float: left;
        }
        &:nth-child(2){
            float: left;
        }

        a{
            font-family: 'Open Sans', sans-serif;
            font-size:18px;
            text-decoration: none;
            letter-spacing: 3px;
            transition: 0.6s;
            text-transform: uppercase;
            display: block;
            padding: 10px 30px;
            color: #000;
            font-weight: bold;

            &:hover{
                color: #8E8E8E;
            }
        }
    }

}


//   .banner{
//     position: relative;
//     width: 100%;
//     height: 100vh;
// }

// navbar end

// container


// hero section
#hero{ 
    height: 100vh;
    background-color: gray;
    position: relative;
    .line{
        position: relative;
        width: 19em;
        top: 50%;
        margin: 0 auto;
        border-right: 2px solid #000;
        font-size: 160%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        transform: translateY(-50%);
       
    }
     p{
            font-family: 'Bitter', serif;
        }
}

.anim-typewriter{
    animation: typewriter 6s steps(40) 1s 1 normal both,
    blickTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter{
    from{
        width: 0;
    }
    to{
        width: 19em;
    }
}

@keyframes blickTextCursor{
    from{
        border-right-color: #000;
    }
    to{
        border-right-color: transparent;
    }
}

// service introduce

#service1{
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.sec_text{
    max-width: 500px;

    h2{
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
    }

    .sec_text_desc{
        padding-left: 80px;
        border-left: 2px solid rgba(0,0,0,0.07);
    }

    .sec_text_desc_p{
        margin: 55px 0 40px;

        p{
            margin-bottom: 15px;
            line-height: 28px;
        }
    }
}

.sec_img{
    img{
        height: 400px;
    }
}

#service2{
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

// team member

// .slider{
//     width: 100%;
//     transform: translateY(-50%);
// }

// .slick-slide:focus{
//     outline: none;
// }

// .slick-slide img{
//     width: 52%;
// }

// .slick-slide{
//     transition: all ease-in-out 1s;
//     opacity: .2;
// }

// .slick-active{
//     opacity: .2;
// }

// .slick-current{
//     opacity: 1;
// }
.horizontal-section{
    padding: 100px 0;
    // background-color: #c8ecc3;
}
  
.sticky-wrapper {
    position: sticky;
    top: 100px;
    width: 100%;
    overflow: hidden;
}
  
.element-wrapper{
    position: relative;
    display: flex;
}
  
.element {
    margin: 0 30px 0 0;
    flex-shrink: 0;
}

#member{
    h3 {
        font-family: 'Open Sans', sans-serif;
        color: #42779d;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 22px;
    }
    
    p{
        margin-top: 4px;
        font-family: 'Open Sans', sans-serif;
        color: gray;
        text-transform: uppercase;
    }
}

// to top button
a .to-top{
    cursor: pointer;
}

.to-top{
    position: fixed;
    background-color: #42779d;
    height: 85px;
    width: 85px;
    bottom: 25px;
    right: 32px;
    border-radius: 50%;
    align-items: center;
    text-decoration: none;
    place-content:center;
    color:#fff;
    cursor: pointer;
    text-align: center;
    opacity: 0;
    transition: all .4s;

    span{
        display:block;
        font-size: 30px;
        padding-top: 12px;
    }
    p{
        margin-top: 6px;
        font-family: 'Open Sans', sans-serif;
    }
}

.to-top.active {
    bottom: 50px;
    opacity: 1;
    cursor: pointer;
}


// footer
footer{
    position: relative;
    // height:100px;
    bottom: 10%;
    // margin-top: 80px;
    // margin-bottom: 30px;
    // bottom: -650px;
}
footer p{
    width:100%;
    font-size: 15px;
    text-align: center;
    color:rgb(148, 147, 147);

}