@charset "UTF-8";
html {
  scroll-behavior: smooth;
  height: auto;
}

body {
  margin: 0%;
  width: 100%;
  overflow-x: hidden;
}

#title {
  height: 200px;
  width: 200px;
  display: flex;
  place-content: center;
  position: absolute; /*絕對位置*/
  left: 50%; /*從左邊開始算，右推 50% (一半) 的位置*/
  top: 50%;
  margin-top: -100px;
  margin-left: -100px;
}

#logo img {
  height: 150px;
}

@media screen and (min-width: 3440px) {
  #logo img {
    height: 20rem;
  }
}
header {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.6s;
  background-color: #dfdfdf;
}

#main_menu {
  width: 100%;
  position: relative;
  z-index: 99999;
}

.logo_area {
  height: 300px;
  position: absolute;
  left: 50%;
  top: 0;
  content: "";
  margin-left: -150px;
}
.logo_area img {
  height: 120px;
}

.inner_menu {
  margin: 0 auto;
  width: 100%;
}
.inner_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
  padding-top: 70px;
}
.inner_menu li {
  float: none;
  display: inline-block;
}
.inner_menu li:nth-child(1) {
  float: left;
}
.inner_menu li:nth-child(2) {
  float: left;
}
.inner_menu li a {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 3px;
  transition: 0.6s;
  text-transform: uppercase;
  display: block;
  padding: 10px 30px;
  color: #000;
  font-weight: bold;
}
.inner_menu li a:hover {
  color: #8E8E8E;
}

.toggle-btn {
  position: fixed;
  width: 35px;
  position: absolute;
  right: 60px;
  top: 40px;
  display: none;
  z-index: 9999999;
  cursor: pointer;
}
.toggle-btn span {
  display: inline-block;
  width: 100%;
  float: left;
  height: 2px;
  background-color: #000;
  margin-bottom: 8px;
}

@media screen and (max-width: 720px) {
  .toggle-btn {
    display: block;
  }
  nav {
    display: none;
    width: 100%;
  }
  nav ul li {
    padding: 15px 0px;
    width: 100%;
  }
  nav.show {
    display: block;
  }
  .logo_area {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100vw;
    position: absolute;
    left: 40%;
    top: 0;
    content: "";
    margin-left: -150px;
    margin-top: 10px;
    z-index: 99999;
  }
  .logo_area img {
    height: 80px;
  }
}
@media screen and (min-width: 721px) and (max-width: 1023px) {
  .toggle-btn {
    display: block;
    right: 20vw;
  }
  nav {
    display: none;
    width: 100%;
  }
  nav ul li {
    padding: 15px 0px;
    width: 100%;
  }
  nav.show {
    display: block;
  }
  .logo_area {
    height: 300px;
    position: absolute;
    left: 40%;
    top: 0;
    content: "";
    margin-left: -150px;
    margin-top: 10px;
    z-index: 99999;
  }
  .logo_area img {
    height: 80px;
    position: relative;
    right: 13vw;
    height: 80px;
  }
}
@media screen and (min-width: 3440px) {
  .inner_menu li a {
    font-size: 2.6rem;
  }
  .logo_area {
    height: 600px;
    position: absolute;
    left: 50%;
    top: 0;
    content: "";
    margin-left: -300px;
  }
  .logo_area img {
    height: 16rem;
  }
  li {
    display: inline-block;
  }
}
#hero {
  width: 100%;
  height: 100vh;
  background-image: url("../pics/pesto.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  word-spacing: 3px;
  text-align: center;
}
#hero .line {
  display: inline;
  position: relative;
  top: 50%;
  border-right: 2px solid #000;
  font-size: 160%;
  -webkit-animation: blickTextCursor 0.5s infinite;
          animation: blickTextCursor 0.5s infinite;
  padding-right: 8px;
}
#hero p {
  font-family: "Bitter", serif;
}

@-webkit-keyframes blickTextCursor {
  from {
    border-right-color: #000;
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes blickTextCursor {
  from {
    border-right-color: #000;
  }
  to {
    border-right-color: transparent;
  }
}
@media screen and (min-width: 3440px) {
  #hero .line {
    font-size: 4rem;
  }
}
#service1 {
  display: flex;
  justify-content: space-between;
  padding: 100px;
}

.sec_text {
  max-width: 500px;
}
.sec_text h2 {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
}
.sec_text .sec_text_desc {
  padding-left: 80px;
  border-left: 2px solid rgba(0, 0, 0, 0.07);
}
.sec_text .sec_text_desc_p {
  margin: 55px 0 40px;
  font-family: "Open Sans", sans-serif;
}
.sec_text .sec_text_desc_p p {
  margin-bottom: 15px;
  line-height: 28px;
}

.sec_img img {
  height: 360px;
  box-shadow: 0px 0px 15px 10px gray;
}

.sec_img #img1 {
  height: 360px;
  margin-left: 35px;
  margin-top: 65px;
}

#service2 {
  display: flex;
  justify-content: space-between;
  padding: 100px;
}

@media screen and (max-width: 720px) {
  #service1 {
    flex-direction: column;
    padding: 20px;
    margin-bottom: 30vh;
  }
  #service2 {
    flex-direction: column;
    padding: 20px;
  }
  .sec_img img {
    height: 14rem;
    margin-left: 28px;
  }
  .sec_img #img1 {
    height: 12rem;
  }
}
@media screen and (min-width: 721px) and (max-width: 1023px) {
  #service1 {
    flex-direction: column;
    padding: 20px;
    margin-bottom: 25vh;
  }
  #service2 {
    flex-direction: column;
    padding: 20px;
  }
  .sec_text {
    max-width: 98vw;
  }
  .sec_img img {
    height: 20rem;
    margin-left: 3rem;
  }
  .sec_img #img1 {
    height: 20rem;
  }
}
@media screen and (min-width: 3440px) {
  .sec_text {
    max-width: 30%;
  }
  .sec_text h2 {
    font-size: 2.5rem;
  }
  .sec_text p {
    font-size: 2rem;
  }
  .sec_text .sec_text_desc_p p {
    margin-bottom: 15px;
    line-height: 45px;
    letter-spacing: 3px;
  }
  .sec_img img {
    height: 41rem;
  }
  .sec_img #img1 {
    height: 43rem;
  }
  #service1, #service2 {
    justify-content: space-around;
  }
}
.horizontal-section {
  width: 100vw;
  padding: 100px 0;
}

.sticky-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  width: 100vw;
  overflow: hidden;
  padding: 100px;
}

.element-wrapper {
  position: relative;
  display: flex;
}

.element {
  height: 500px;
  width: 650px;
  margin: 0 30px 0 10px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  border: 2px dashed gray;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.simple {
  margin-left: 2%;
}
.simple img {
  height: 19rem;
  transition: 0.3s;
  border-radius: 20px;
  box-shadow: 10px 10px 10px gray;
}

.action {
  height: 460px;
}

#member h3 {
  font-family: "Open Sans", sans-serif;
  color: #42779d;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 1.7em;
  margin-left: 7%;
}
#member p {
  margin-top: 4px;
  font-family: "Open Sans", sans-serif;
  color: gray;
  font-size: 1.2em;
  margin-left: 7%;
}

#member_title {
  font-size: 4em;
  letter-spacing: 3px;
  margin: 2vw;
  color: gray;
  font-family: "Open Sans", sans-serif;
}

ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin-bottom: 3%;
  letter-spacing: 2px;
}

.quote {
  font-weight: 600;
}

#last_ele {
  border: none;
  width: 20vw;
}

@media screen and (max-width: 720px) {
  .sticky-wrapper {
    width: 50%;
  }
  #last_ele {
    border: none;
    width: 40vw;
  }
  .simple img {
    height: 21rem;
  }
}
@media screen and (min-width: 721px) and (max-width: 1023px) {
  #last_ele {
    border: none;
    width: 20vw;
  }
  .simple img {
    height: 23rem;
  }
  .sticky-wrapper {
    width: 73%;
  }
  .element {
    height: 520px;
  }
}
@media screen and (min-width: 3440px) {
  .sticky-wrapper {
    width: 90%;
  }
  .element {
    height: 40rem;
    width: 71rem;
    margin: 0 100px 0 50px;
  }
  ul li {
    font-size: 1.5em;
  }
  .simple img {
    height: 24rem;
  }
  #member h3 {
    font-size: 2.7em;
  }
  #member p {
    font-size: 2.5em;
  }
  .action {
    height: 39rem;
  }
}
.partnertitle {
  place-content: center;
  text-align: center;
  color: gray;
  text-transform: uppercase;
  margin: 2vw;
  font-size: 2em;
  letter-spacing: 3px;
  margin-bottom: 5vw;
  font-family: "Open Sans", sans-serif;
}
.partnertitle p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-bottom: 2px #42779d solid;
}

.partner .partner1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.partner .partner2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3vh;
}

.item img {
  height: 230px;
  text-align: center;
  transition: 0.7s all;
}
.item h4 {
  margin-bottom: 0px;
  text-align: center;
  color: #42779d;
  font-size: 1.2em;
  margin-top: 5vh;
}

.item:hover img {
  transform: scale(1.2);
}

@media screen and (max-width: 720px) {
  .partnertitle {
    font-size: 1.3rem;
  }
  .partner .partner1, .partner .partner2 {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (min-width: 3440px) {
  .partnertitle {
    font-size: 3rem;
  }
  .item h4 {
    font-size: 2.8rem;
  }
  .item img {
    height: 26rem;
  }
  #last_ele {
    width: 5vw;
  }
}
#contact_us {
  margin-top: 30vh;
  margin-bottom: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card2 {
  width: 600px;
  height: 300px;
}

.back {
  height: 300px;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: 0.5s ease-out;
  box-shadow: 3px 3px 9px 5px rgb(63, 63, 63);
  display: flex;
}

.front {
  position: absolute;
  background-color: #dad3ca;
  height: 300px;
  width: 600px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: rotateY(0deg);
  transition: 0.5s ease-out;
  box-shadow: 3px 3px 9px 5px rgb(63, 63, 63);
  z-index: 2;
  display: none;
}
.front img {
  height: 100px;
}

.col-1 {
  width: 160px;
  height: 300px;
  background: #dad3ca;
  border-radius: 10px 0 0 10px;
  text-align: center;
}
.col-1 img {
  width: 140px;
  margin: 20px 10px;
  margin-top: 20px;
}
.col-1 span {
  font-size: 35px;
  color: #fff;
  font-weight: bold;
  margin-top: 125px;
}

.col-2 {
  width: 440px;
  height: 300px;
  background: #fff;
  border-radius: 0 10px 10px 0;
}

#contain {
  margin: 20px;
}
#contain .tittle {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Tiro Gurmukhi", serif;
  color: #3F3F3F;
}
#contain .profesion {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Tiro Gurmukhi", serif;
  padding: 5px 0;
  border-bottom: 3px solid #dad3ca;
  width: 90%;
  color: #3F3F3F;
}
#contain .content {
  margin: 20px 0;
  font-family: "Tiro Gurmukhi", serif;
}
#contain .content h3 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Tiro Gurmukhi", serif;
  margin: 5px 0;
  color: #3F3F3F;
}
#contain .social_links {
  margin: 25px 0;
}
#contain .social_links a {
  text-decoration: none;
}
#contain .social_links a span {
  color: #fff;
  background-color: #ccc3b8;
  font-size: 20px;
  margin: 8px;
  padding: 4px 8px;
  border-radius: 5px;
  transition: 0.4s;
}
#contain .social_links a span:hover {
  background-color: #A0A0A0;
}

input[type=text] {
  margin: 5px;
  border: 2px solid #ccc3b8;
  border-radius: 5px;
  font-family: "Tiro Gurmukhi", serif;
}

input::-webkit-input-placeholder {
  font-family: "Tiro Gurmukhi", serif;
}

textarea[type=text] {
  max-width: 250px;
  max-height: 35px;
  margin: 5px;
  border: 2px solid #ccc3b8;
  border-radius: 5px;
  font-family: "Tiro Gurmukhi", serif;
}

textarea::-webkit-input-placeholder {
  font-family: "Tiro Gurmukhi", serif;
}

input[type=submit] {
  padding: 5px;
  border: 2px solid #ccc3b8;
  border-radius: 5px;
  font-family: "Tiro Gurmukhi", serif;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  transition: 0.4s;
}
input[type=submit]:hover {
  background-color: #ccc3b8;
  color: #fff;
}

@media screen and (max-width: 720px) {
  #contact_us {
    flex-direction: column;
  }
  #contact_us .card2 {
    width: 300px;
    height: 600px;
  }
  #contact_us .card2 .front {
    width: 300px;
    height: 600px;
  }
  #contact_us .back {
    width: 300px;
    height: 600px;
    flex-direction: column;
    border-radius: 10px;
  }
  #contact_us .back .col-1 {
    width: 300px;
    height: 80px;
    border-radius: 10px 10px 0 0;
  }
  #contact_us .back .col-2 {
    width: 300px;
    height: 520px;
    border-radius: 0 0 10px 10px;
  }
  #contact_us input[type=text] {
    margin: 10px;
  }
  #contact_us textarea[type=text] {
    min-width: 245px;
    min-height: 110px;
    margin: 7px;
  }
}
@media screen and (min-width: 721px) and (max-width: 1023px) {
  .card2 {
    width: 300px;
    height: 600px;
  }
  .card2 .front {
    width: 300px;
    height: 600px;
  }
  .back {
    width: 300px;
    height: 600px;
    flex-direction: column;
    border-radius: 10px;
  }
  .back .col-1 {
    width: 300px;
    height: 80px;
    border-radius: 10px 10px 0 0;
  }
  .back .col-2 {
    width: 300px;
    height: 520px;
    border-radius: 0 0 10px 10px;
  }
  input[type=text] {
    margin: 10px;
  }
  textarea[type=text] {
    min-width: 245px;
    min-height: 110px;
    margin: 7px;
  }
}
@media screen and (min-width: 3440px) {
  .partnertitle {
    font-size: 4rem;
  }
  .card2 {
    width: 900px;
    height: 450px;
  }
  .card2 .front {
    width: 900px;
    height: 450px;
  }
  .back {
    width: 900px;
    height: 450px;
  }
  .back .col-1 {
    width: 225px;
    height: 450px;
  }
  .back .col-2 {
    width: 80%;
    height: 450px;
  }
  input[type=text] {
    margin: 10px;
  }
  textarea[type=text] {
    min-width: 400px;
    min-height: 110px;
    margin: 7px;
  }
  .col-1 span {
    font-size: 44px;
    margin-top: 210px;
  }
  .col-1 img {
    width: 203px;
    margin-top: 31px;
  }
  #contain .tittle {
    font-size: 2.5rem;
  }
  #contain .profesion {
    width: 100%;
    font-size: 1.3rem;
  }
  #contain .social_links a span {
    font-size: 29px;
    margin: 21px;
  }
}
a .to-top {
  cursor: pointer;
}

.to-top {
  position: fixed;
  background-color: #42779d;
  height: 85px;
  width: 85px;
  bottom: 25px;
  right: 32px;
  border-radius: 50%;
  align-items: center;
  text-decoration: none;
  place-content: center;
  color: #fff;
  cursor: pointer;
  text-align: center;
  opacity: 0;
  transition: all 0.4s;
  z-index: 3;
}
.to-top span {
  display: block;
  font-size: 30px;
  padding-top: 12px;
}
.to-top p {
  margin-top: 6px;
  font-family: "Open Sans", sans-serif;
}

.to-top.active {
  bottom: 50px;
  opacity: 1;
  cursor: pointer;
}

@media screen and (min-width: 721px) and (max-width: 1023px) {
  .to-top {
    right: 10vw;
  }
}
@media screen and (min-width: 3440px) {
  .to-top {
    height: 8rem;
    width: 8rem;
  }
  .to-top p {
    font-size: 20px;
  }
  .to-top span {
    font-size: 55px;
  }
}
footer {
  position: relative;
  bottom: 10%;
}

footer p {
  width: 100%;
  font-size: 15px;
  text-align: center;
  color: rgb(148, 147, 147);
}/*# sourceMappingURL=center.css.map */